<h2>Hello, you have reached the index page</h2>

<%= link_to "create_account", (new_user_path) %>

<div class='hrform'>
  <%= form_tag(newlog_path, method: "post") do %>
    <%= label_tag(:q, "Initials:") %>
    <%= text_field_tag(:q) %><br>
    <%= label_tag(:q, "Heart rate:") %>
    <%= text_field_tag(:q) %><br>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class='content'>This site is dedicated to helping you log and track your max heartrate.</div>