
<div class='hrform'>
  <%= form_tag(newlog_path, method: "post") do %>
    <%= label_tag(:q, "Initials:") %>
    <%= text_field_tag(:initials) %><br>
    <%= label_tag(:q, "Heart rate:") %>
    <%= text_field_tag(:heartrate) %><br>
    <%= submit_tag("Enter") %>
  <% end %>

  <div class="error_msg"><%= @error  %></div>
</div>

<div class='content'>
  <h2>Welcome to HeartLine</h2>
  <p>This site is dedicated to helping you log, track, and compare your heart health over time. Mainly you will use the form to the right to update your profile to continously track your heart rate. You can create an account at the bottom of the page, search through spcific age groups, or search for your profile directly.</p>
</div>

<div class='nav'>
  <%= link_to "create account", (new_user_path) %>
  <%= link_to "age group", (new_user_path) %>
  <%= link_to "age group", (new_user_path) %>
  <%= link_to "age group", (new_user_path) %>
</div>