<!DOCTYPE html>
<html>
<head>
  <title>Heartrate Log</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% favicon_link_tag '/public/favicon.ico' %>
</head>
<body>
  <div class='header'><%= image_tag "logo.png", height: "97" %></div>

<%= yield %>

</body>
</html>
